<nav class="navbar navbar-default nav_css" role="navigation">
	<div class="navbar-header">
		 
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			 <span class="sr-only">Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button> <a class="navbar-brand" href="index.html" style="padding-top: 5px;"><img src="../static/images/title.png"></a>
	</div>
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
				<li>
					<a href="#" class="nav_item_style" style="color: white;">
						<img src="../static/images/ico/deadpool.png">&nbsp;&nbsp;Quem Somos
					</a>
				</li>
				<li>
					<div class="btn-group nav_item_cat_div">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle nav_item_cat nav_item_style" style="color: white;">
							<img src="../static/images/ico/spider_man.png">&nbsp;&nbsp;Gerenciar&nbsp;<strong class="caret"></strong>
						</button>
						<ul class="dropdown-menu nav_dropdown">
							<li><a href="insert_character.html">Gerenciar Personagem</a></li>
							<li><a href="insert_hq.html">Gerenciar HQ</a></li>
							<li><a href="#">Gerenciar Notícias</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="btn-group nav_item_cat_div">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle nav_item_cat nav_item_style" style="color: white;">
							<img src="../static/images/ico/spider_man.png">&nbsp;&nbsp;Categorias&nbsp;<strong class="caret"></strong>
						</button>
						<ul class="dropdown-menu nav_dropdown">
							<li><a href="categories.html">Heróis</a></li>
							<li><a href="#">Vilões</a></li>
							<li><a href="#">Anti-Heróis</a></li>
							<li class="divider"></li>
							<li><a href="#">Vingadores</a></li>
							<li><a href="#">X-Men</a></li>
							<li><a href="#">Guardiões Da Galaxia</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<form class="navbar-form navbar-left" role="search" style="padding-top: 4px;">
						<div class="form-group">
							<input style="width: 130px;" type="text" class="form-control nav_item_search_text" />
						</div> 
						&nbsp;&nbsp;
						<a href="#" type="submit">
							<img src="../static/images/ico/search.png">
						</a>
					</form>
				</li>
				<li>
					<div class="btn-group nav_item_cat_div">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle nav_item_cat nav_item_style" style="color: white;">
							<img src="../static/images/ico/spider_man.png">&nbsp;&nbsp;Bem-Vindo Pedro&nbsp;<strong class="caret"></strong>
						</button>
						<ul class="dropdown-menu nav_dropdown" style="padding: 10px;">
							<li>
								<button class="form-control" onclick="onlyAdmin()">Sair</button>
							</li>
						</ul>
					</div>
				</li>
			</ul>
	</div>
	
</nav>